main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 60%;
    margin: auto;
}


.search{
    width: 100%;
    grid-column: 1/4;
    height: 40px;
    margin-top: 5px;
}

.search form{
    display: flex;
    background: rgba(0, 0, 0, 0.6);
}